@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'),
		url('../fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'),
		url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*? GLOBAL */

body {
    margin: 0;
    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 49px;
    font-size: 16px;
    font-weight: 500;
    background: #F6762C;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.main {

}

/*? HEADER */

.header {
    padding: 25px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__link:hover {
    opacity: 0.9;
}

.header__link:active {
    opacity: 1;
}

.header__link--active {
    opacity: 1;
}

/*? HERO */

.hero {
    margin-top: -100px;
    padding: 240px 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url("img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__text {
    width: 550px;
}

.hero__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.hero__title {
    font-size: 58px;
}

.hero__desc {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

.hero__btn {

}

.btn {

}
